ASTROWAR_SERVER_IMAGE=wss://astrowar-server
ASTROWAR_SERVER_HOST=0.0.0.0
ASTROWAR_SERVER_PORT=8080

ASTROWAR_ROOM_CODE_LENGTH=6
ASTROWAR_ROOM_TTL_SECS=3600
RUST_LOG=astrowar_server=info,tower_http=info

ASTROWAR_HOST_ADDR=127.0.0.1
ASTROWAR_HOST_PORT=8080
